/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
  height: 100%;
  /*Image only BG fallback*/

  /*background = gradient + image pattern combo*/
  background-image: url(img/background3.jpg)

}


body {
  font-family: montserrat, arial, verdana;
}


.box {
  color: black;
  width:40%;
  margin-left: 5%;

  float: left;
}

.model{
  margin-top: 10%;
  margin-right: 10%;
  text-align: center;
  margin-bottom: 10%;
  width:80%;
}

.visualizer{

  float: left;
  width: 10%;
}

.

.form-group.row{
  align-items: center;
}